# Biến môi trường, API key
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Hệ điều hành
.DS_Store
Thumbs.db

# Log
*.log

# Build
build/
dist/
*.egg-info/